* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* empecher de drag les images */
	user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-ms-user-drag: none;
}
